<% include partials/header %>

<h1>This is the locations page</h1>

<a href="/locations/new">Add a new location</a>

<% locations.forEach(function (loc) { %>
    <div>
        <h4>
            <%= loc.name%>
        </h4>
        <img src=" <%= loc.image %> ">
    </div>
<% }); %>

<% include partials/footer %>