<% include partials/header %>

<h1>Create a new location</h1>

<form action="/locations" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit</button>
</form>

<a href="/locations">Go Back</a>
<% include partials/footer %>
